.customSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNNC4yOTMgNi4yOTNsNC4yOTMgNC4yOTMgNC4yOTMtNC4yOTMgMS40MTQgMS40MTRsLTUuNzA3IDUuNzA3LTUuNzA3LTUuNzA3eiIgZmlsbD0iIzAwMCIvPgo8L3N2Zz4K")
    no-repeat right 0.75rem center;
  background-size: 1rem;
}
